<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apbc.waterexpert">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Problem2" />
        <activity android:name=".Problem1" />
        <activity android:name=".Problem1Result" />
        <activity android:name=".Problem4" />
        <activity android:name=".Problem3" />
        <activity android:name=".Problem3KnowMore" />
        <activity android:name=".FirstPage"></activity>
        <activity android:name=".SecondPage" />
        <activity android:name=".SplashScreen">

        </activity>
        <activity android:name=".ChoiceScreen"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>